.nav-link{
	  color: #fff;
}
.black_text{
	  color: #000;
}


.description>p{
	font-family: Courier New;
}
.description{
	font-size: 20px;
	color: grey;
	text-align:center; 
	width: 100%;
}
.restourant_name{
	color: #bb192e;
}
.subtitle{
	text-align:center; 
	width: 100%;;
	font-size: 80px;
}
.subtitle>p{
	font-family: Times New Roman; 
}
.mySlides img{
    width:110%;
    height:110%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1100px) {
	.mySlides img{
      height:15em;
      width: 70%;
  }
}
hr{
	 border: 1px solid #bda17e;
}
.icon-car img{
    height: 40px;
    width: 40px;
}
.navbar .nav-link{
	font-family: 'Luckiest Guy', cursive;
}
.navbar .nav-link:hover{
	
	transition: all .4s ease;
	color: #E44C39;
	transform: rotate(-2deg) translateX(3px) scale(1.1);
}
/* #app .navbar{
	border-bottom: 2px solid #E44C39;
}

.navbar-nav.mr-auto .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:hover{
	transition: all .4s ease;
	color: #E44C39;
	transform: rotate(-2deg) translateX(3px) scale(1.1);
}
.slider{
	box-shadow: 0px 6px 163px -20px rgba(0,0,0,0.75);
	width: 700px;
	margin: 0 auto;
}
.logo-p{
	display: inline;
	
	color: #FF9800;
} */

	/* body {
	background-color: #333;
	font-family: 'Luckiest Guy', cursive;
	font-size: 18px;
	} */

/* .content{
	display: flex;
	margin-top: 50px;
	min-height: 500px;
}
.left-side{
	overflow: hidden;
	width: 33%;
	height: 200px;
}
.center{
	margin-top: 50px;
	width: 47%;
	height: 200px;
}

.right-side{
	width: 20%;
	height: 200px;
}
.left-side img{
	margin-left: 200px;
}
.center ul{
	margin-top: 50px;
	color: white;
	font-size: 2rem;
}
.center h1{
	color: #FF9800;
} */

